<html>
{{> header}}
<body>
{{> nav}}
<div class="container">
    <div id='calendar'>
        <form id="roomForm">
            <!--<form id="reservationForm" action="/action_page.php"  method="post">-->
            <div class="form-group">
                <label for="roomName" class="col-form-label">Room Name:</label>
                <input type="text" class="form-control" id="roomName" name="roomName" >
            </div>
            <div class="form-group">
                <label for="colorPicker" class="col-form-label">Color:</label>
                <input type="text" class="form-control" id="colorPicker" name="colorPicker" >
            </div>
            <input type="text" id="roomColor" hidden/>
            <button id="saveRoom" type="button" class="btn btn-primary">Save</button>
            <h4 id="result_validation" style="color: forestgreen"></h4>
        </form>
    </div>


    <table id="room_table" class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">RoomName</th>
            <th scope="col">Color</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

</div>




</body>
{{> manageRoomScript}}
</html>
