<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link" href="/timeTable">Calendar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/manageRoom">Manage Room</a>
    </li>
</ul>